@import "../core/variables.scss";

.landing {
  background-image: url("https://w0.peakpx.com/wallpaper/888/188/HD-wallpaper-harry-potter-1-castle-harry-potter-magic-movie-the-sorcerers-stone.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 88vh;
  // @media (min-width: 900px) {
  //   background-position-y: 50%;
  // }
  @media (min-width: 1200px) {
    background-position-y: 30%;
  }
  &__btn {
    background-color: transparent;
    color: white;
    padding: 15px;
    border: solid 2px white;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 20px;
    font-family: "Harry potter";
    font-size: 25px;
    cursor: pointer;
    &:hover {
      background-color: white;
      color: $mainColor;
      transform: scale(130%);
    }
    @media (min-width: 780px) {
      font-size: 35px;
      right: 35px;
    }
  }
  &__audio {
    color: red;
    background-color: black;
  }
}
