@import "../core/variables.scss";

.landing {
  background-image: url("https://w0.peakpx.com/wallpaper/888/188/HD-wallpaper-harry-potter-1-castle-harry-potter-magic-movie-the-sorcerers-stone.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 85vh;
  @media (min-width: 780px) {
    background-image: url("https://fotografias.antena3.com/clipping/cmsimages02/2016/12/19/2EE113FB-4B38-40C5-B086-857D6B8E7967/98.jpg?crop=2048,1152,x0,y35&width=1900&height=1069&optimize=high&format=webply");
  }
  &__btn {
    background-color: transparent;
    color: white;
    padding: 15px;
    border: solid 2px white;
    border-radius: 50%;
    position: sticky;
    left: 65%;
    top: 5%;
    font-family: "Harry potter";
    font-size: 25px;
    cursor: pointer;
    &:hover {
      background-color: white;
      color: $mainColor;
      transform: scale(130%);
    }
    @media (min-width: 780px) {
      left: 75%;
      font-size: 35px;
    }
  }
  &__audio {
    color: red;
    background-color: black;
  }
}
